.container-items {
    display: flex;
    transform-style: preserve-3d;
    transform: perspective(1000px)
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111827;
}

.item-color {
    position: relative;
    flex-shrink: 0;
    width: 32px;
    height: 40px;
    border: none;
    outline: none;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
    cursor: pointer;
}

.item-color::after {
    position: absolute;
    content: "";
    inset: 0;
    width: 40px;
    height: 40px;
    background-color: var(--color);
    border-radius: 6px;
    transform: scale(1.2);
    pointer-events: none;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
}

.item-color::before {
    position: absolute;
    content: attr(aria-color);
    left: 65%;
    bottom: 52px;
    font-size: 8px;
    line-height: 12px;
    transform: translateX(-50%);
    padding: 2px 0.25rem;
    background-color: #ffffff;
    border-radius: 6px;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.1);
}

.item-color:hover {
    transform: scale(1.5);
    z-index: 99999;
}

.item-color:hover::before {
    opacity: 1;
    visibility: visible;
}

.item-color:active::after {
    transform: scale(1.1);
}

.item-color:hover::after {
    opacity: 1;
    visibility: visible;
}

.item-color:focus::before {
    content: "copy";
}