body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
}

.card {
    background: #222;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    background: #333;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .7);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal-content {
    width: 500px;
    max-width: 90%;
    background: white;
    color: black;
    padding: 20px;
    border-radius: 12px;
    position: relative;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
}


.fade {
    animation: fade .4s ease;
}

.slide {
    animation: slide .4s ease;
}

.scale {
    animation: scale .4s ease;
}

.swing {
    animation: swing .6s ease;
    transform-origin: top center;
}

.flip {
    animation: flip .6s ease;
}

.blur {
    animation: blur .5s ease;
}

.unfold {
    animation: unfold .5s ease;
}

.rotate {
    animation: rotate .5s ease;
}


@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes scale {
    from {
        transform: scale(.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes swing {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes flip {
    from {
        transform: rotateY(90deg);
        opacity: 0;
    }

    to {
        transform: rotateY(0);
        opacity: 1;
    }
}

@keyframes blur {
    from {
        filter: blur(10px);
        opacity: 0;
    }

    to {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes unfold {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(-180deg) scale(.5);
        opacity: 0;
    }

    to {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}