* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
}

.sidebar {
    height: 100%;
    width: 16rem;
    background: rgb(0, 150, 0);
}

.main {
    flex: 1;
    background: rgb(200, 200, 200);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: auto;
    position: relative; /* toegevoegd */
}

.header {
    position: absolute; /* of sticky */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    min-height: 6rem;
    background: transparent; /* was: red */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-box {
    display: flex;
    align-items: center;
    background: white;
    padding: .6rem 1rem;
    border-radius: 2rem;
    gap: .5rem;
}

.search-box input {
    border: none;
    outline: none;
    font-size: 1rem;
}

.icon {
    font-size: 1.3rem;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.icon:hover {
    transform: scale(2);
}

.section2 {
    width: 100%;
    background: lightgrey;
    border-radius: .5rem;
    padding: .8rem;
    min-height: 20rem;
    flex-shrink: 0;
}

.section3 {
    width: 100%;
    background: lightgrey;
    border-radius: .5rem;
    padding: .8rem;
    min-height: 30rem;
    flex-shrink: 0;
}








.section1 {
    width: 100%;
    min-height: 60rem;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    background: #111;
}

/* afbeelding */
.movie-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* donkere overlay onderaan */
.movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3rem;
    color: white;
    background: linear-gradient(
        to top,
        rgb(0, 0, 0),
        rgba(0,0,0,0.6),
        transparent
    );
}

/* badges */
.tags {
    display: flex;
    gap: .8rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.tags span {
    background: grey;
    padding: .4rem .9rem;
    border-radius: 2rem;
    font-size: 1.2rem;
}

.tags .rating {
    background: #16a34a;
    color: white;
}

/* titel */
.movie-info h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

/* beschrijving */
.movie-info p {
    max-width: 70rem;
    line-height: 1.6;
    font-size: 1.5rem;
    color: #ddd;
    margin-bottom: 2rem;
}

/* knop */
.movie-info button {
    border: none;
    background: white;
    color: black;
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}   

