.banner {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.banner .product{
    background-color: red;
    width: 500px;
    height: 500px;
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    transition: 0.7s;
}

.banner .product .sode{
    background: url(images/mockup.png);

}