* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: sans-serif;
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-btn {
    padding: 12px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: .2s;
}