:root {
    --cyan-400: #22d3ee;
    --cyan-500: #06b6d4;
    --cyan-600: #0891b2;
    --text: #111827;
    --border: #e5e7eb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 570px;
    background: #fff;
    border: 2px solid var(--border);
    border-radius: 34px;
    padding: 32px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, .08);
}

h2 {
    font-size: 31px;
    font-weight: 500;
    color: #111827;
    margin-bottom: 10px;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0 35px;
}

.donut {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background:
        conic-gradient(var(--cyan-600) 0deg 116deg,
            white 116deg 121deg,
            var(--cyan-500) 121deg 238deg,
            white 238deg 243deg,
            var(--cyan-400) 243deg 356deg,
            white 356deg 360deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole {
    width: 245px;
    height: 245px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hole span {
    font-size: 42px;
    font-weight: 500;
    color: #111827;
}

.list {
    width: 100%;
}

.row {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #f2f2f2;
}

.row:first-child {
    border-top: none;
}

.left {
    display: flex;
    align-items: center;
    gap: 18px;
}

.dot {
    width: 22px;
    height: 22px;
    border-radius: 7px;
}

.dot1 {
    background: var(--cyan-600);
}

.dot2 {
    background: var(--cyan-500);
}

.dot3 {
    background: var(--cyan-400);
}

.left span:last-child {
    font-size: 24px;
    color: #111827;
}

.amount {
    font-size: 24px;
    color: #111827;
}