body {
    background-color: #00000069;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.modal-box {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    transform: scale(0.7);
    transition: 0.3s;
}

.modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal.show .modal-box {
    transform: scale(1);
}
