.carousel {
    width: 90%;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.track {
    display: flex;
    width: max-content;
    will-change: transform;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(-50%);
    }
}

.item {
    width: 240px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 15px;
    margin-right: 15px;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform .5s filter .4s;
}

.carousel:hover .item img {
    filter: grayscale(.8);
}

.item:hover img {
    filter: grayscale(0) !important;
    transform: scale(1.06);
}

.carousel:hover .track {
    animation-play-state: paused;
}




@media (max-width: 768px) {
    .carousel {
        width: 95%;
    }

    .item {
        width: 180px;
        height: 150px;
        border-radius: 12px;
        margin-right: 12px;
    }
}

@media (max-width: 480) {
    .carousel {
        width: 100%;
        mask-image: linear-gradient(to right, transparent, #000 5% 95%, transparent);
        -webkit-mask-image: linear-gradient(to right, transparent, #000 5% 95%, transparent);
    }
    .item{
        width: 140px;
        height: 110px;
        border-radius: 10px;
        margin-right: 10px;
    }
    .track{
        animation-duration: 14s;
    }
}

