:root {
    --text: #111827;
    --background: #ffffff;
    --cyan: #56d9f3;
    --cyan-light: #c9f2fb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
}

.logo-slider {
    width: 100%;
    overflow: hidden;
    padding: 80px 0;
    position: relative;
}

.logo-slider::before,
.logo-slider::after {
    content: "";
    position: absolute;
    top: 0;
    width: 180px;
    height: 100%;
    z-index: 2;
}

.logo-slider::before {
    left: 0;
    background: linear-gradient(to right, #fff, transparent);
}

.logo-slider::after {
    right: 0;
    background: linear-gradient(to left, #fff, transparent);
}

.logo-track {
    display: flex;
    width: max-content;
    animation: scroll 10s linear infinite;
}

.logo-group {
    display: flex;
    align-items: center;
    gap: 90px;
    padding-right: 90px;
}

.logo {
    font-size: 42px;
    font-weight: 700;
    white-space: nowrap;
    color: #111;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}